# Maven
target/
.m2/
.mvn-home/

# Wrapper cache
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local env
.env
.env.local
.env.dev
.env.prod
.env.test

# Temporary files
*.tmp
*.temp
tmp/
data/
